
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000; 
  color: #eee;
}

.movie-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.poster {
  flex: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40%;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster img {
  max-width: 80%;       
  max-height: 80%;      
  border-radius: 10px;   
  transition: 0.3s ease; 
}

.poster img:hover {
  box-shadow: 0 0 30px #e50914; 
  transform: scale(1.02);       
}


.info {
  margin-left: 40%;  
  padding: 40px;
  height: 100vh;
  overflow-y: auto;   
  background-color: #000;
}


.highlight {
  color: #e50914;   
}


a {
  color: #e50914;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


ul {
  padding-left: 20px;
}
